<div class="field-guide-wrapper">
  <nav class="field-guide-sidenav {{if showSideNav "field-guide-sidenav-always-show"}}">
    {{#link-to "show" "index" class="home-link"}}
      {{#if fieldGuideConfig.logo}}
        <img class="field-guide-logo" src={{fieldGuideConfig.logo}} alt="{{fieldGuideConfig.name}} Field Guide Logo">
      {{else}}
        <span class="field-guide-fake-logo">{{fieldGuideConfig.name}}</span>
      {{/if}}
      <span>
        {{#if fieldGuideConfig.tagLine}}
          {{fieldGuideConfig.tagLine}}
        {{else}}
          {{fieldGuideConfig.name}} Field Guide
        {{/if}}
      </span>
    {{/link-to}}

    <div class="field-guide-table-of-contents">
      <TableOfContents @tocs={{model}} @level={{1}}/>
    </div>
  </nav>
  <div class="field-guide-wrapper-full-height">
    <main>
      {{outlet}}
      <button class="field-guide-show-sidenav" {{action (mut showSideNav) (not showSideNav)}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="25">
          <path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/>
        </svg>
      </button>
    </main>
    <footer class="field-guide-footer">
      <MarkdownToHtml @markdown={{fieldGuideConfig.copyright}} class="field-guide-footer-info" />
      <div class="field-guide-footer-right">
        <ul class="field-guide-socials">
          {{#if fieldGuideConfig.github}}
            <a href={{fieldGuideConfig.github}} title="github" target="_blank" rel="noopener">
              <img src="/icons/social/github.svg" alt="" role="presentation">
            </a>
          {{/if}}

          {{#each fieldGuideConfig.social as |social|}}
            <a href={{social.link}} title={{social.title}} target="_blank" rel="noopener">
              <img src="/icons/social/{{social.name}}.svg" alt="" role="presentation">
            </a>
          {{/each}}
        </ul>
        <p>
          Built with <a href="https://github.com/empress/field-guide" target="_blank" rel="noopener">Field Guide</a>
        </p>
      </div>
    </footer>
  </div>
</div>
